$color-primary: #4b6584;
$color-secondary: #2bcbba;
$background-light: #f9f9f9;
$background-dark: #222222;

body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace;
  background: $background-light;
}

ul {
  list-style: none;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 6rem;

    .col {
      display: flex;
      flex-direction: column;
      padding: 0 6rem;
    }
  }
}

.d-flex {
  display: flex;
}

.f1 {
  flex: 1;
}

.j-space-between {
  justify-content: space-between;
}

.j-space-around {
  justify-content: space-around;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}